* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    display: grid;
    padding: 0;
    margin: 0;
}

html {
    background: url(https://upload.wikimedia.org/wikipedia/ru/3/3e/%D0%9E%D0%B1%D0%BB%D0%BE%D0%B6%D0%BA%D0%B0_Star_Wars_Jedi_Fallen_Order.jpg) no-repeat center center fixed;
    background-size: cover;
  }
  

 

.actors {
    padding: 20px;
    background: rgba(34, 146, 238, 0.493);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-flow: row;
    
}

 .flex {
     display: flex;
     flex-wrap: wrap;
 }
 

.btn {
     
    height: 50px;
     
    margin: 2%;
}

.btn_two {
    height: 50px;
    margin: 2%;
}